.button {
    display: inline-block;
    padding: 0.5rem 0.5rem 0;
    font-size: var(--font-size-btn-big);
    text-transform: uppercase;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
}

.button:disabled {
    color: black;
    background-color: var(--color-btn-active);
}

.button:hover {
    background-color: var(--color-btn-active);
}


