.wrapper {
    margin-bottom: var(--margin-bottom-section);
    padding: 1rem 0;
}

.title {
    margin-bottom: var(--margin-bottom-title);
    font-family: var(--font-family-bebas), sans-serif;
    font-size: var(--font-size-title-small);
}