.wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    margin-bottom: var(--margin-bottom-section);

}
.title {
    margin-bottom: var(--margin-bottom-title);
    font-size: var(--font-size-title-middle);
}